* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(135deg, #2d935d 0%, #1e603d 100%); */
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow-x: hidden;
  background-color: #1e603d;
}

.container {
  width: 90%;
  max-width: 800px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0.8;
}

/* Grid Layout */
.menu-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Efek Kartu Glassmorphism */
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  transform: translateX(-50px);
}

.card .icon {
  font-size: 2rem;
}

.card span {
  font-size: 1.5rem;
}

.card:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Tombol Kembali */
.btn-back {
  margin-top: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-back:hover {
  background: white;
  color: #1e603d;
}

/* Animasi Muncul */
.show-card {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

/* Responsive */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.8rem;
  }
  .card span {
    font-size: 1.1rem;
  }
}
